@charset "utf-8";
/*css reset*/
body,div,ul,ol,li,h1,h2,h3p,th,td{margin:0; padding:0;}

ol,ul{list-style:none;}


a{text-decoration:none;}
a:hover{text-decoration:underline;}
q:before, q:after{content:'';}
.con{
	    border-right: 1px dashed #ddd;
}
.clear{clear:both;height:0;overflow:hidden;}
.cf:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
*.cf{zoom:1;}
/*global css*/
body{font-family:Helvetica,​Arial,​sans-serif;font-size:14px;color:#121212;line-height:20px;}
a{color:#3576AB;}
a:hover{color:#3576AB;text-decoration:none;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}

.bdwidth{width:1200px;margin:0 auto;}
.borderbom{border-bottom:1px solid #EAEAEA;}
.bd{padding:18px 0;}

#head{background:#EFF2F5;}
#head .nav{background:#535751;height:28px;line-height:28px;}
#head .nav a{color:#D6D6D4;margin:0 10px;}
.head{height:50px;line-height:50px;}
.head h2{font-size:14px;font-weight:normal;}
.head span{margin:0 0 0 15px;}
.head span a{margin:0 15px 0 0;font-size:12px;}

#ft{color:#999;border-top:1px dashed #ddd;line-height:30px;padding:0 0 0px;font-family:Arial;background-color: #535751;text-align:center;font-weight: bold;}

#bd{padding:40px 0 0;}
#bd .con{width:790px;overflow:hidden;}
#bd .side{width:310px;overflow:hidden;}





.artist {border-top: 1px dashed #ddd;}
.artist h3 span{font-size:12px;color:#666;}
.artist h3 span a{margin:0 5px;}
.artist .bd{padding:5px 0 30px;}
.artist .bd p{text-indent:2em;}


.review h3{font-weight:normal;color:#007722;font-size:15px;border-top: 1px dashed #ddd;}
.review h3 .isay{height:26px;text-align:center;line-height:26px;background:#FAE9DA;color:#CA6445;padding:0 10px;font-size:12px;}
.review h3 span{font-size:12px;color:#666;}
.review h3 span a{margin:0 5px;}
.review .bd{padding:5px 0 30px; }

.review .name em{color:#666;}

.side{width:310px;overflow:hidden;}
.fr{float:right;display:inline;}
.content{
	border-top: 1px dashed #ddd;
}